*{margin:0; padding:0;}

.listContainer{border:1px solid black; width:180px; display:none; background:#fff;}
.selected{background-color:#DCD58F; cursor:pointer;}
.listItemContainer{padding-left:2px;}
.listItem{font-family:Î¢ÈíÑÅºÚ; font-size:13px; padding-top:5px; padding-bottom:5px; padding-left:10px;}
.dropdownPanel{border:1px solid #666; height:auto; width:180px; position:absolute; background:#fff;}
.dropdownList_{font-family:Î¢ÈíÑÅºÚ; font-size:14px; width:158px; background:#fff; vertical-align:bottom;}
.page{font-family:Î¢ÈíÑÅºÚ; font-size:14px; padding:10px;}
.dropdownlist{background-color:#DCD58F; border:1px solid #808080; padding:1px;}
